#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
%:
	dh $@

override_dh_auto_configure:
	# 不做任何配置（已由 build.sh 处理）
	echo "Skipping auto_configure."

override_dh_auto_build:
	# 调用你自定义的构建脚本（开启 Debian 构建模式）
	echo "Skipping auto_configure."

override_dh_auto_test:
	# 跳过或你可以选择手动运行测试
	echo "Skipping auto_test."